---
import type { QuoteRes } from "../api/listQuotes";
import Label from "./Label.astro";

export type Props = QuoteRes;
const { id, title, quote, author, categories } = Astro.props;
const href = `/${id}`;
---

<li class="link-card">
  <span class="link">
    <a class="title" title="Learn more" href={href}>
      <h2>
        {title}
      </h2>
    </a>
    <p>{quote}</p>

    <div class="footer">
      <Label labels={categories} />
      <span class="author">~ {author}</span>
    </div>
  </span>
</li>

<style>
  .link-card {
    list-style: none;
    position: relative;
    display: flex;
    padding: 0.25rem;
    background-color: white;
    background-image: none;
    background-size: 400%;
    border-radius: 0.6rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  .link-card .link {
    width: 100%;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    padding-bottom: 1.5rem;
    border-radius: 0.35rem;
    background-color: white;
    opacity: 0.8;
  }
  a {
    color: #111;
    text-decoration: none;
  }
  a::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .title {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    display: inline;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .author {
    /* position: absolute; */
    /* bottom: 12px; */
    /* right: 15px; */
    color: #444;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    color: #444;
    white-space: pre-line;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }

  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }
</style>
